* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff');
    src: url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff2') format('woff2'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 128px;
  text-align: center;
  background-color: red;
  position: relative;
}

header {
  width: 100%;
  /*width: 1600px;*/
  height: 128px;
  background: blue;
  text-align: center;
  position: fixed;
}

.logo {
  width: 259px;
  height: 108px;
  background-color: #FFFFFF;

  position: absolute;
  left: 16px;
  top: 5px;
}
.logo img {
  width: 93px;
  height: 108px;
  position: absolute;
  left: -1px;
  top: -1px;
}
h1 {
  font-size: 37px;
  text-align: right;
  position: absolute;
  right: 1px;
  top: 10px;
}
h1 p:first-child {
  text-transform:lowercase;
  letter-spacing: 0.7pt;
  font-family: 'Calibri';
  color: #fb9c06;
}
h1 p:last-child {
  text-transform:uppercase;
  letter-spacing: 0.02em;
  font-family: 'Bebas', 'Helvetica', sans-serif;
  color: #6e6d6b;
}

nav{
  position: absolute;
  width: 567px; /*1-113*5-1*/
  height: 84px;
  right: 5px;
  top: 18px;
}

nav figure {
  height: 84px;
  width: auto;
  border: 2px solid rgba(251,156,6,0.5);/*alpha = 0 for transparent*/
  overflow: hidden;
  float: left;
  position: relative;
}
nav figure:hover {
  border-color: rgba(251,156,6,1);
}

figure > a {
     display: block;
     height: 100%;
     width: 100%;
     position: absolute;
}

.icon {
  width: 109px;
  height: inherit;
  background: url(../img/navigation.png) no-repeat;
  background-position: 0 0px;
}

nav figcaption {
  font-family: 'Calibri';
  font-size: 22px;
  color: rgba(158,155,155,1);
  position: relative;
  top: -26px;
}


/*class for navigation*/
.home .icon {
  background-position: -1px -2px;
}
.about .icon {
  background-position: -114px -2px;
}
.work .icon {
  background-position: -227px -2px;
}
.blog .icon {
  background-position: -340px -2px;
}
.contact .icon {
  width: 111px;
  background-position: -453px -2px;
}



main {
  background-color: yellow;
  position: relative;
  top: 128px;
}


.slider {
  height: 406px;
  background-color: #fb9c06;
}
