* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff2');
    src: url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff2') format('woff2'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/Bebas-fontfacekit/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri/calibri.woff2');
    src: url('../fonts/Calibri/calibri.woff2') format('woff2'),
         url('../fonts/Calibri/calibri.woff') format('woff'),
         url('../fonts/Calibri/calibri.ttf') format('truetype'),
         url('../fonts/Calibri/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  /*height: 128px;*/
  text-align: center;
  background-color: red;
  position: relative;
}

body > header {
  width: 100%;
  /*width: 1600px;*/
  height: 125px;
  background: blue;
  text-align: center;
  position: fixed;
}

.logo {
  width: 259px;
  height: 108px;
  background-color: #FFFFFF;

  position: absolute;
  left: 16px;
  top: 5px;
}
.logo img {
  width: 93px;
  height: 108px;
  position: absolute;
  left: -1px;
  top: -1px;
}
h1 {
  font-size: 37px;
  text-align: right;
  position: absolute;
  right: 1px;
  top: 10px;
}
h1 p:first-child {
  text-transform:lowercase;
  letter-spacing: 0.8pt;
  font-family: Calibri, Candara, "Segoe UI", Arial, sans-serif;
  color: #fb9c06;
  position: relative;
  top: 1px;
  right: 3px;
}
h1 p:last-child {
  text-transform:uppercase;
  letter-spacing: 0.02em;
  font-family: 'Bebas', 'Helvetica', sans-serif;
  color: #6e6d6b;
  position: relative;
  top: -2px;
}

nav{
  position: absolute;
  width: 567px; /*1-113*5-1*/
  height: 84px;
  right: 5px;
  top: 18px;
}

nav figure {
  height: 84px;
  width: auto;
  border: 2px solid rgba(251,156,6,0.5);/*alpha = 0 for transparent*/
  overflow: hidden;
  float: left;
  position: relative;
}
nav figure:hover {
  border-color: rgba(251,156,6,1);
}
nav figure:last-child {
  clear: right;
}

figure > a {
     display: block;
     height: 100%;
     width: 100%;
     position: absolute;
}

.icon {
  width: 109px;
  height: inherit;
  background: url(../img/navigation.png) no-repeat;
  background-position: 0 0px;
}

nav figcaption {
  font-family: Calibri, Candara, "Segoe UI", Arial, sans-serif;
  font-size: 22px;
  color: rgba(158,155,155,1);
  position: relative;
  top: -26px;
}


/*navigation*/
.home .icon {
  background-position: -1px -2px;
}
.about .icon {
  background-position: -114px -2px;
}
.work .icon {
  background-position: -227px -2px;
}
.blog .icon {
  background-position: -340px -2px;
}
.contact .icon {
  width: 111px;
  background-position: -453px -2px;
}
.home figcaption {
  left: -25px;
}


main {
  background-color: yellow;
  /*position: relative;*/
  padding-top: 125px;
}

/*debug*/
.slider {
  background-color: green;
}
.slider .wrapper {
  max-width: 1600px;
}
.slider header {
  position: absolute;
  top: 130px;
  left: 200px;
}
h2 {
  font-family: 'Bebas', 'Helvetica', sans-serif;
  font-size: 37px;
  text-transform:uppercase;
  letter-spacing: 0.4pt;
  word-spacing: 0.5pt;
  display: inline;
  position: relative;
}
h2:first-child {
  color: rgba(251,156,6,1);
  background-color: rgba(0,0,0,0.69);
  border: solid rgba(0,0,0,0);
  border-width: 9px 14px 9px 27px;
  top: 10px;
}
h2:last-child {
  color: rgba(110,109,107,1);
  background-color: rgba(255,175,18,0.7);
  border: solid rgba(255,175,18,0);
  border-width: 14px 15px 15px 27px;
}


/*8px (2+4+2) 70%top*/
.slide::before {
  display: block;
  height: 6px;
  content: "";
}
.slide::after {
  display: block;
  height: 6px;
  content: "";
}


.slide img {
  width: 100%;
  max-width: 1600px;
  height: 400px;
  display: block;/*delete 4px in bottom*/
}
.slide {
  text-align: center;
}


footer{
  background-color: navy;
  height: 84px;
}
